name: Publish to npm beta

on:
  push:
    branches:
      - beta

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Create mongo Docker container
        id: build_mongo_docker
        uses: DigiPie/mongo-action@v1.0.1
        with:
          image-version: latest
          port: 27017
      - name: publish to npm@beta
        run: |
          npm install -g yarn
          npm install -g ipfs
          jsipfs init
          jsipfs config --json Addresses.API '["/ip4/127.0.0.1/tcp/5001"]'
          jsipfs daemon &
          yarn install
          yarn test
          yarn chapisha:beta

#jsipfs config --json API.HTTPHeaders.Access-Control-Allow-Origin '["*"]'
        env:
          CI: true
          NPM_TOKEN: ${{secrets.NPM_TOKEN}}
